.App {
  justify-content: center;
  text-align: center;
  color: azure;

  background-color: rgb(72, 189, 9);

  margin-left: 500px;
  margin-top: 50px;
  width: 500px;
  height: 400px;
}

.sing-in {

  background-color: rgb(10, 221, 244);
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: medium;


}

.sing-in:hover {
  background-color: rgb(17, 76, 226);
}

.sing-out {
  background-color: rgb(10, 221, 244);
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 20px;
  font-size: medium;
}

.sing-out:hover {
  background-color: red;
}

.App h2 {
  font-size: 30px;
}